[Desktop Entry]
Name=Cobalt
X-KDE-PluginInfo-Name=Cobalt
X-KDE-PluginInfo-Author=kuroehanako
X-KDE-PluginInfo-Email=kuroekmj@gmail.com
X-KDE-PluginInfo-License=LGPLv3
